 /* *******  BBC CSS STARTS  *********/
 /* .row1 {
  display: flex;
  border:darkgreen solid 2px;
}

.mainStory {
  display: flex;
  flex-basis: 75%;
}

.smallStory {
  display: flex;
  align-items: stretch;
}

.row2 {
  display: flex;
  gap: 10px;
}

.largeContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 2;
  margin: 10px;
}

.imgLarge {
  max-width: 920px; 
}

.textLarge {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 20px;
}

.timeLarge {  
  margin-top: auto;
  border: blue solid 2px;
}

.smallContainer {
  margin: 10px;
  min-width: 100px;
  max-width: 450px;
  border: orange solid 2px;
}

.imgSmall {
  max-width: 440px;
  border: red solid 2px;
}

.textSmall {
  margin-top: auto;
}

.timeSmall {
  margin-top: auto;
  border: lightcoral solid 2px;
} */

/* *******  BBC CSS Ends  **********/
 /* ********AIRBNB CSS STARTS - happy*******/

/* .app {
  display:flex;
}

.splash {
  
  margin: 10px;
}

img {
  min-width: 100px;
  max-width: 100%;
  border-radius: 2%;
} */

/* ********AIRBNB CSS ENDS *******/
/* ********NETFLIX CSS STARTS - happy*******/

/* * {
  background-color: black;
}

.app {
  display:flex;
  justify-content: space-evenly;
  margin: 5px;  
}

.splash {
  padding: 2px;  
}

img {
  min-width: 100px;
  max-width: 100%;
  border-radius: 1%;  
} */

/* ********NETFLIX CSS ENDS *******/

/******************************************************/
/**********************WEDNESDAY***********************/
/******************************************************/

/********** TO DO LIST CSS ****************************/


body {
  background-image: url(./images/todo1.png);
  background-repeat: no-repeat;
  background-size: auto;  
  margin: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height:800px;
  width: 600px;
  align-items: center;
  max-width: 30%;
  border: white solid 2px;
  background-image: url(./images/todo2.jpg);
  }

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 80%;
  border: #52489c solid 2px;
  
}

.taskList {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  min-width: 80%;
  border: lightblue solid 2px;

}

.btnRight {
  border: white solid 2px;

}

h1 {
  border: lightgreen solid 2px;

} 




